/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Georgia, serif;
  background: #FF7070;
  display: flex;
}

/* ========================= */
/* HERO TITLE CENTERED */
/* ========================= */

.hero {
  width: 100%;
  text-align: center;
  padding: 60px 0;
  background;
  background-repeat: no-repeat;
  background-position: top center;
  bacground-size: contain;
}

.hero h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  color: #555;
}

/* ========================= */
/* SIDEBAR */
/* ========================= */

#sidebar {
  width: 250px;
  background: #EB4C4C;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 180px; /* pushes below hero */
  transition: 0.3s ease;
}
/* Collapsed state */
#sidebar.collapsed {
  width: 70px;
}

#sidebar ul {
  list-style: none;
}

#sidebar li {
  margin: 20px 0;
}

#sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 25px;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

#sidebar a:hover {
  background: #FFA6A6;
}
#sidebar.collapsed a span{
  display: none;
}
/* ========================= */
/* MAIN CONTENT */
/* ========================= */

#wrapper {
  margin-left: 250px; /* same as sidebar width */
  width: calc(100% - 250px);
  padding: 40px;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

/* Sections */
#wrapper.collapsed {
  margin-left: 70px;
  width: calc(100% - 70px);
}

.wrapper h1,
.wrapper h2 {
  margin-bottom: 20px;
}

.wrapper p {
  line-height: 1.6;
  color: #FFA6A6;
}

/* ========================= */
/* FOOTER */
/* ========================= */

footer {
  margin-left: 250px;
  transition: 0.3s ease;
}
footer.collapsed {
  margin-left: 70px;
}

#toggleBtn {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #EB4C4C;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1000;
}
