 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page background */
body {
  font-family: "Georgia", serif;
  background-color: #f4f4f4;
}

/* Main page container */
.page {
  width: 60%;
  margin: 0 auto;
  padding-top: 80px;
}

/* Top Name Section */
.hero {
  text-align: center;
  margin-bottom: 120px; /* Large spacing like notebook */
}

.hero h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

/* Section Titles */
.section {
  margin-bottom: 140px; /* Big vertical spacing */
}

.section h3 {
  font-size: 24px;
  font-weight: 400;
  border-left: 3px solid black;
  padding-left: 10px;
}
