/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Georgia, serif;
  background: #FF7070;
  display: flex;
}

/* ========================= */
/* HERO TITLE CENTERED */
/* ========================= */

.hero {
  width: 100%;
  text-align: center;
  padding: 60px 0;
  background:FFEDC7;
}

.hero h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  color: #555;
}

/* ========================= */
/* SIDEBAR */
/* ========================= */

#sidebar {
  width: 250px;
  background: EB4C4C;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 180px; /* pushes below hero */
}

#sidebar ul {
  list-style: none;
}

#sidebar li {
  margin: 20px 0;
}

#sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 25px;
  display: block;
  transition: 0.3s;
}

#sidebar a:hover {
  background: #374151;
}

/* ========================= */
/* MAIN CONTENT */
/* ========================= */

#wrapper {
  margin-left: 250px; /* same as sidebar width */
  width: 100%;
  padding: 40px;
}

/* Sections */
.wrapper {
  margin-bottom: 100px;
}

.wrapper h1,
.wrapper h2 {
  margin-bottom: 20px;
}

.wrapper p {
  line-height: 1.6;
  color: #444;
}

/* ========================= */
/* FOOTER */
/* ========================= */

footer {
  margin-left: 250px;
  text-align: center;
  padding: 20px;
  background: #e5e7eb;
}
